/* GLOBAl */
*{
    box-sizing: border-box;
}

html, body{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.clear{
    clear: both;
}
 h2{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;
 }

 .line{
    background-image: url(../img/line.png);
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 25px;
 }
/* HEADER */
.header__logoImg{
    float:left;
}
.header__sloganImg{
    float:right;
    margin-right: 120px;
}

.header__navbar ul{
    list-style: none;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1vw;
}

.header__navbar li{
    display: inline;
    margin: 0 0.3em;

}

.header__navbar li a{
    text-decoration: none;
    text-transform: uppercase;
}

.header__navbar li:hover{
    border-bottom: 2px solid #B31C25;
}

/* CAROUSEL */
.slider{
    background: url(../img/slider_1.png);
    height: 500px;
    background-size: cover;
    background-position: center center;
}

/* INTRO */

.intro p{
    text-align: center;
    color: rgb(12, 59, 44);
    line-height: 25px;
    padding: 0 5px;
}

/* PROGRAMS */
.programs__item{
    float: left;
    width: 25%;
    padding: 0 10px;
}

.programs__item img{
    width: 100%;
}

.programs__item h3{
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 1vw;
    color: #B31C25;
}

.programs__item p{
    font-size: 1vw;
    margin-top: 0;
}

/* FOOTER */

.footer{
    background-color: #B31C25;
    color: #fff;
    padding: 20px 50px;
}

.footer__logo{
    float: left;
    width: 50%;
}

.footer__contact{
    float: right;
    width: 50%;
    word-spacing: 2px;
    text-align: justify;
}